body {
  background-color: #B9B9B9;
  font-family: sans-serif;
  margin: 0;
}
header {
  width: 100%;
  height: 70px;
  background-color: #D53838;
  z-index: 3;
  li {
    display: inline-block;
  }
  h2 {
    display: inline-block;
    cursor: pointer;
  }
}
.search-artist, .rank-artist {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  padding: 5px 0 12px 0;
  vertical-align: top;
  margin: 0 0 0 50px;
  cursor: pointer;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: .5s;
  &:hover {
    background-color: #C3C3C3;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  div {
    display: inline-block;
    border: 1px solid #EEE;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    img {
      // display: block;
      text-align: center;
      margin: auto;
      max-width: 120px;
      max-height: 120px;
    }
  }
  span {
    font-size: 20px;
    position: absolute;
    display: block;
    top: 22px;
    left: 80px;
  }
  .vote-total {
    left: -30px;
    font-size: 18px;
  }
  .voted-arrow {
    position: absolute;
    display: block;
    top: 10px;
    left: -45px;
    border: none;
    border-radius: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 36px solid #D53838;
  }
}
.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  .overlay-window {
    position: absolute;
    width: 80%;
    height: 60%;
    background-color: #EEE;
    top: 10%;
    left: 10%;
  }
}
