@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Cabin);
body {
  background-color: black;
  color: #EEE;
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0; }

#container {
  background: linear-gradient(to right, black, #121E26, black);
  min-height: 100vh; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  background-color: #222;
  background: linear-gradient(black, #1D1D1D);
  box-shadow: 0 2px 10px #09E8E8;
  z-index: 4; }
  header a {
    font-size: 15px;
    display: block;
    position: absolute;
    font-style: italic;
    text-decoration: none;
    color: #09E8E8;
    transition: .5s; }
    header a:hover {
      text-shadow: 0 0 14px #09E8E8;
      color: #C1FFFF; }
  header .artist-search {
    display: hidden;
    font-size: 0;
    top: 45px;
    left: 10px; }
  header .about {
    top: 10px;
    left: 20px; }
  header .login-button {
    top: 40px;
    left: 20px; }
  header h2 {
    font-family: 'Pacifico';
    font-size: 42px;
    display: inline-block;
    cursor: pointer;
    color: #09E8E8;
    text-decoration: none;
    transition: .5s;
    text-shadow: 0 0 -1 #EEE;
    margin: 0 auto; }
    header h2:hover {
      text-shadow: 0 0 20px #09E8E8;
      color: #C1FFFF; }

.search-results, .rank-page {
  width: 100%;
  padding: 80px 0 60px 0; }
  .search-results h2, .rank-page h2 {
    text-align: center; }

.search-results {
  padding: 20px 0 60px 0; }

.search-artist, .rank-artist {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  padding: 5px 0 12px 50px;
  vertical-align: top;
  margin: 0;
  cursor: pointer;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: .5s; }
  .search-artist:hover, .rank-artist:hover {
    background-color: rgba(192, 192, 192, 0.1);
    border-top: 1px solid white;
    border-bottom: 1px solid white; }
  .search-artist div, .rank-artist div {
    display: inline-block;
    border: 1px solid #EEE;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden; }
    .search-artist div img, .rank-artist div img {
      text-align: center;
      margin: auto;
      width: 100%;
      height: 60px;
      object-fit: cover; }
  .search-artist span, .rank-artist span {
    font-size: 20px;
    position: absolute;
    display: block;
    top: 22px;
    left: 130px; }
  .search-artist .vote-total, .rank-artist .vote-total {
    text-shadow: 0 0 5px #121E26;
    display: inline;
    left: 20px;
    font-size: 18px;
    text-align: center;
    z-index: 3; }
  .search-artist .voted-arrow, .rank-artist .voted-arrow {
    position: absolute;
    display: block;
    top: 10px;
    left: 5px;
    border: none;
    border-radius: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 36px solid #09E8E8;
    z-index: 2; }

.search-page {
  margin: 0;
  padding: 0;
  width: 100%; }
  .search-page form {
    width: 80%;
    margin: 100px auto 0 auto; }
    .search-page form input {
      display: block;
      font-size: 20px;
      background: transparent;
      text-align: center;
      color: white;
      width: 80%;
      padding: 6px 0;
      margin: 10px auto;
      outline: none;
      background-color: rgba(192, 192, 192, 0.1);
      border: 2px solid #09E8E8; }
  .search-page .search-blurb {
    margin-top: 3 0vh;
    color: gray;
    text-align: center;
    font-size: 16px; }

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5; }
  .overlay .overlay-window {
    position: absolute;
    width: 80%;
    height: 60%;
    background-color: black;
    top: 10%;
    left: 10%;
    border: 2px solid #C1FFFF;
    border-radius: 20px;
    box-shadow: 0 0 50px #09E8E8; }
    .overlay .overlay-window .escape {
      line-height: 16px;
      vertical-align: top;
      border: 1px solid #09E8E8;
      padding: 1px 6px 5px 6px;
      border-radius: 50%;
      background: none;
      cursor: pointer;
      outline: none;
      font-size: 22px;
      position: absolute;
      top: 13px;
      right: 15px;
      color: #09E8E8; }
      .overlay .overlay-window .escape:active {
        color: white;
        border: 1px solid white;
        box-shadow: 0 0 3px #09E8E8;
        text-shadow: 0 0 3px #09E8E8; }
    .overlay .overlay-window h3 {
      font-size: 26px;
      font-style: italic;
      margin: 42px 0;
      text-align: center; }
    .overlay .overlay-window p {
      width: 80%;
      margin: 20px auto; }
      .overlay .overlay-window p a {
        color: #09E8E8; }
    .overlay .overlay-window form input {
      display: block;
      width: 60%;
      background: rgba(192, 192, 192, 0.1);
      border: 2px solid #09E8E8;
      padding: 3px;
      font-size: 18px;
      text-align: center;
      color: white;
      margin: 10px auto; }
    .overlay .overlay-window form [type="submit"] {
      width: 40%;
      cursor: pointer; }
    .overlay .overlay-window form .incorrect-alert {
      color: red; }
    .overlay .overlay-window div p {
      text-align: center; }

footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  padding-bottom: 12px;
  margin-bottom: 3px;
  box-shadow: 0 0px 10px #09E8E8;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  text-align: center; }
  footer a {
    color: #09E8E8; }

@media (min-width: 800px) {
  header {
    height: 110px;
    box-shadow: none;
    border-bottom: 3px solid #C1FFFF;
    background: linear-gradient(#4B7895, #3F6278); }
    header h2 {
      font-size: 66px; }
    header a {
      font-size: 20px; }
    header .about {
      top: 20px;
      left: 20px; }
    header .login-button {
      top: 60px;
      left: 20px; }

  #container {
    display: block;
    margin: 0 auto;
    width: 800px;
    box-shadow: 0 0 30px #4B7895; }

  .rank-page {
    padding: 110px 0 60px 0; }

  .search-results {
    padding: 30px 0 60px 0; }

  .search-page form {
    padding-top: 50px; }

  footer {
    position: aboslute;
    bottom: 10px;
    left: 0; }

  .rank-container .rank-artist {
    padding: 0;
    height: 240px;
    margin: 9px 0; }
    .rank-container .rank-artist div {
      height: 100%;
      border: none;
      border-radius: 0;
      width: 62%; }
      .rank-container .rank-artist div img {
        height: auto;
        width: 100%;
        object-fit: cover; }
    .rank-container .rank-artist span {
      display: block;
      width: 36%;
      text-transform: uppercase;
      font-style: italic;
      top: 40px;
      left: 507px;
      font-size: 28px;
      padding: 3px 0;
      border-bottom: 2px solid #4B7895;
      border-top: 2px solid #4B7895; }
    .rank-container .rank-artist .vote-total {
      border-top: none;
      border-bottom: none;
      text-transform: none;
      font-size: 28px;
      right: -138px;
      top: 118px; }
      .rank-container .rank-artist .vote-total:after {
        content: ' votes';
        font-size: 20px; }
      .rank-container .rank-artist .vote-total:before {
        content: 'with ';
        font-size: 20px; }
    .rank-container .rank-artist .voted-arrow {
      top: 100px;
      left: 600px;
      border-left: 52px solid transparent;
      border-right: 52px solid transparent;
      border-bottom: 80px solid #4B7895;
      width: 0px;
      height: 0px; }

  .overlay .overlay-window {
    width: 60%;
    height: 50%;
    left: 20%;
    top: 20%;
    box-shadow: 0 0 50px #C1FFFF; }

  .overlay {
    top: 113px; } }

/*# sourceMappingURL=main.css.map */
